@charset "UTF-8";

:root
{
    --cor01: #d1cb95;
    --cor02: #40985e;
    --cor03: #1a644e;
    --cor04: #04373b;
    --cor05: #0a1a2f;
}

*
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
}

body
{
    background-color: var(--cor05);
}

main
{
    width: 100%;
    height: 100%;
    position: relative;
}

#login
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--cor05);

    width: 350px;
    height: 565px;

    border: 2px solid var(--cor01);
    border-radius: 25px;
    overflow: hidden;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    transition: width .75s heigth .75s;
    transition-timing-function: ease;
}

#img
{
    display: block;
    background: var(--cor05) url(../imagens/tree-hope.jpg) no-repeat;
    background-size: contain;
    background-position: center top;
    height: 40%;
    width: 100%;
    margin-top: 20px;
}

#message
{
    margin: 15px 0;
    font-size: 0.85em;
}

#form
{
    display: block;
    height: 60%;
    padding: 15px;
    color: var(--cor01);

    text-align: center;
    margin: 20px;
}

.material-symbols-outlined
{
    vertical-align: middle;
}

form .camp
{
    margin: 20px 0;
}

form .camp > input
{
    color: var(--cor01);
    padding: 5px;
    width: 80%;
    border: none;
    background-color: #00000000;
    border-bottom: 1px solid var(--cor01);
}

form .camp > input::placeholder
{
    color: #d1cb9585
}

form .camp > input:focus-within
{
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--cor01);
    outline: none;
}

form .rembutton > input[type=checkbox]
{
    display: none;
}

form .rembutton label::after
{
    content: '';
    margin: 0 5px 4px 5px;
    width: 15px;
    height: 15px;
    border: 2px solid var(--cor01);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

form .rembutton > input[type=checkbox]:checked + label::after
{
    border-color: var(--cor02);
    background-color: var(--cor02);
    background-image: url(../imagens/check-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

form .botao 
{
    font-size: 0.8em;
    text-decoration: none;
    font-weight: normal;
    color: var(--cor01);
    cursor: pointer;
}

form > input[type=submit]
{
    display: block;
    font-size: 1em;
    margin: auto;
    cursor: pointer;

    margin-top: 5px;
    margin-bottom: 5px;

    background-color: var(--cor02);
    font-weight: bold;
    color: var(--cor01);

    border-radius: 25px;
    border: none;

    width: 80%;
    height: 3em;
    padding: 10px;
}